# src/main/resources/application.yml
server:
  port: 8081

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://mainline.proxy.rlwy.net:46773/railway
    password: hDUwteTvsuHWRWUefBhcqHFmfhCBJwlg
    username: postgres
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

